:root {
	--accent: #51afef;
	--accent-secondary: #e95157;
	--accent-tertiary: #e3c351;

	--c-0: #121212;
	--c-1: #202020;
	--c-2: #282828;
	--c-3: #323232;
	--c-4: #888888;
	--c-5: #aaaaaa;
	--c-6: #ffffff;

	--border-color: var(--c-0);
	--background-main: var(--c-1);
	--background-secondary: #242424;
	--background-tertiary: #323232;
	--background-quaternary: #404040;

	--header-size: 4rem;
	--sidebar-width: 20rem;

	--page-width: 100rem;

	--long-transition: 0.5s;
	--short-transition: 0.1s;
}

:root {
	width: 100%;
	height: 100%;

	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.55rem;
	font-weight: 400;
	box-sizing: border-box;

	color-scheme: light dark;
	color: #fff;
	background-color: var(--background-main);
	border-collapse: collapse;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	box-sizing: inherit;
	line-height: 150%;
	color: var(--c-5);
}

body {
	width: 100%;
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

*::selection {
	background: #ffffff18;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--c-6);
	font-weight: 600;
}

h1 {
	font-size: 1.5rem;
	scroll-padding-top: 1rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1rem;
}

ul,
ol {
	margin-left: 0 !important;
	margin: 0;
	margin-top: 0.5rem;
	gap: 0.25rem;
	display: flex;
	flex-direction: column;
}

li {
	margin-left: 2rem;
	display: inline flow-root list-item;

	&::marker {
		color: var(--c-4);
	}

	& > code {
		padding: 0.125rem 0.25rem;
		background-color: var(--c-3);
		border-radius: 0.25rem;
	}
}

a {
	font-weight: 500;
	color: var(--accent);
	text-decoration: inherit;

	&:hover {
		color: #51afefaa;
	}

	&.active {
		color: var(--accent);
	}

	&.active:hover {
		color: var(--accent);
	}

	code {
		padding: 0.125rem 0.25rem;
		background-color: var(--c-3);
		border-radius: 0.25rem;
		color: var(--accent);
	}
}

.page-content,
.blog-post {
	* {
		width: 100%;
	}

	& > p > code {
		padding: 0.125rem 0.25rem;
		background-color: var(--c-3);
		border-radius: 0.25rem;
	}

	img {
		padding: 2rem 0;
		width: auto;
		height: auto;
		max-width: 100%;
		object-fit: contain;
	}

	pre {
		padding: 1rem;
		line-height: 1.4rem;
	}

	table {
		border-collapse: separate;
		overflow: hidden;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;

		background-color: var(--c-0);

		thead {
			th {
				font-size: 0.8rem;
				text-transform: uppercase;
				color: #888;
				font-weight: 600;
				text-align: start;
			}
		}

		tbody {
			td {
				padding: 0.25rem 0rem;
			}
		}
	}
}
